body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 48px;
    padding-right: 48px;
}

a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
    color:#e5e7eb;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
    
}

.header, 
.footer, 
.body-one {
    background-color: #1F2937;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 56px;
    margin: -8px -56px;
 
}

.body-one {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 8px 56px;
    margin: -8px -56px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;

}

.body-two {
    display: flex;
    flex-direction: column;
}

.information-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-list { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 8px;
}

.info-box {
    border-color: #3882f6 ;
    background-color: #3882f6;
    height: 100px;
    width: 100px;
}

.info-text {
    height: 100px;
    width: 100px;
    text-align: center;
    margin-top: 8px;
}






.body-three {
    background-color: #e5e7eb;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}